# --- Secrets ---
.env
*.pem
*.key

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
build/
dist/
.dbt-env/

# --- Docker & OS ---
.DS_Store
.docker/
*.log
.aider*

# --- Optimization ---
.optuna-env
/optimization/data